html, body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #1D1E28;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    min-width: 100%;
}

html {
    scroll-behavior: smooth;
  }

/* large screens */
@media (min-width:1200px) {
	.container {
		max-width: 1140px
	}
}

/*small screens, for example laptops*/
@media screen and (max-width: 1024px) {

	.container {
		position: absolute;
		display: block !important;
		left: -5%;
		max-width: 100%;
		word-wrap: break-word !important;
	}
	.container-item {
		grid-template-columns: 1fr !important;
		grid-auto-flow: column !important;
		grid-template-areas: 
			"Name"
			"Description"
			"Usage" !important;
		padding: 1%;
	}

	.container-header {
		grid-template-columns: 1fr 1fr !important;
		grid-auto-flow:dense !important;
	}

	.centered {
		position: relative !important;
		left: 10% !important;
	}

  }

/*tablets*/
@media screen and (max-width: 768px) {

	.container {
		position: absolute;
		display: block !important;
		left: -5%;
		max-width: 100%;
		word-wrap: break-word !important;
	}
	.container-item {
		grid-template-columns: 1fr !important;
		grid-auto-flow: column !important;
		grid-template-areas: 
			"Name"
			"Description"
			"Usage" !important;
		padding: 1%;
	}

	.container-header {
		grid-template-columns: 1fr 1fr !important;
		grid-auto-flow:dense !important;
	}

	.centered {
		position: relative !important;
		left: 0% !important;
	}

  }

/*phones*/
@media screen and (max-width: 480px) {

	.container {
		position: absolute;
		display: block !important;
		left: -10% !important;
		max-width: 100% !important;
		word-wrap: break-word !important;
	}
	.container-item {
		grid-template-columns: 1fr !important;
		grid-auto-flow: column !important;
		grid-template-areas: 
			"Name"
			"Description"
			"Usage" !important;
		padding: 1%;
	}

	.container-header {
		grid-template-columns: 1fr  !important;
		grid-auto-flow:dense !important;
	}

	.centered {
		position: relative !important;
		left: 0% !important;
	}

  }

.botlogo:hover {
    opacity: .89;
}

.nav-link {
    font-size: 16px !important;
    background: transparent !important;
    font-family: Lato, sans-serif !important;
    text-transform: capitalize !important;
 }
 
.nav-link:hover {
    color: #AD91FF !important;
 }
 
.navbar {
    box-shadow: none !important
}

.navbar-brand {
    font-size: 25px !important
}

.navbar-toggler-icon {
    color: #fff !important
}

.btn {
    border-radius: 10px !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.btn-primary {
    background-color: #AD91FF !important
}
.btn-secondary {
    background-color: #2C2F33 !important
}

.btn-category {
    background-color: #AD91FF !important
}

.heading {
    padding: 160px 50px !important;
    color: #fff !important;
    background-image: url("../assets/wavy-purple-by-nouridio.svg") !important;
    background-position: bottom, center !important;
    background-size: 300% !important;
    background-repeat: no-repeat !important;
}

.title {
    line-height: 90px !important;
    margin-bottom: -2px !important;
    font-size: 36px !important
}

.subtitle {
    color: rgba(255, 255, 255, 0.685) !important;
    font-size: 20px !important;
    font-family: 'Lato', sans-serif;
}

.features {
    text-align: center !important;
    background: #AD91FF !important;
    padding: 60px 50px !important;
    background-image: url("../assets/wavy-dark-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}

.features .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.features .subtitle {
    font-size: 25px !important;
    color: #a2a8bd;
}

.features .card-body {
    text-align: left !important;
    padding: 40px 40px 40px 30px !important;
}

.features .card-title {
    margin: 0 0 -px !important;
}

.features .card {
    background: #1D1E28;
    border-radius: 22px !important;
    border: 4px solid #AD91FF;
}
.features .card-text {
    color: rgba(255, 255, 255, 0.5) !important
}

.cards {
    margin-top: 30px !important;
}

.card {
    border-radius: 5px !important;
    box-shadow: none !important;
}

.card-title {
    font-size: 28px !important;
    font-weight: 600 !important;
    color: #AD91FF !important;
}

.statistics {
    text-align: center !important;
    padding-top: 300px !important;
}

.statistics .card-body{
    padding: 0 !important;
    height: 280 !important;
    width: 332 !important;
    max-height: 280 !important;
    max-width: 332 !important;
}

.statistics .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.statistics .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

.card.statistic {
    background: transparent !important;
    box-shadow: none !important;
    color: #f7f7f7 !important;
}

.homepage_end {
    background-image: url("../assets/wavy-light-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}

.page_end {
    background: #ad91ff !important;
}

.start {
    padding: 60px 50px !important
}

.start .card {
    background: transparent !important;
    color: #f6f9ff !important;
}

.navbar-toggler-icon {
    color: #fff !important
}
.footer {
    text-align: center !important;
    padding: 5px 6px !important;
    color: #ecf2ff;
    padding: 30px 30px !important
}

.footer .bot-footer {
    text-align: center !important;
    color: #ffffff !important
}

.centered {
    position: relative;
    left: 42%;
    top: -200px
}

.container{
    display: grid;
    background-color: #231d36;
    text-align: start;
    grid-auto-flow: row;
    row-gap: 15px;
    /*border: 2px solid lightgray;*/
    position: relative;
    top: -180px;
    }

.container-item {
    display: grid;
    background-color: #231d36;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow:column;
    grid-template-areas:
        "Name Description Usage";
    font-size: 130%;
    border-bottom: 0.1mm solid gray;
    }
    
    .Description { grid-area: Description; }
    .Usage { grid-area: Usage; }
    .Name { grid-area: Name; }

.container .final-item {
    border-bottom: none;
}

.is-active {
    background-color: rgb(119, 136, 153) !important;
}

.hidden{
    display: none;
}

.container-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1%;
    grid-auto-flow: row;
    font-size: 130%;
    }

.has-text-primary{
    color:lightgreen
}

.has-text-gray{
    color: rgb(170, 163, 163)
}

.premium-title{
    text-align: center;
    box-sizing: border-box;
    border: 0px;
    font-family: inherit;
    outline: 0px;
    vertical-align: baseline;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
    max-width: 100%;
    letter-spacing: -1px;
    margin: 0px;
    padding: 0px;
    color: rgb(242, 244, 251);
    text-transform: none;
    width: auto;
}

.premium-subtitle{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Maison Neue', sans-serif !important;
    box-sizing: inherit;
    padding: 0 !important;
    font-size: 1.35rem !important;
    color: #606a7b !important;
    text-align: center;
    max-width: 60%;
    margin: 1em auto 1.5em;
}

.btn:hover {
    opacity: .89 !important;
}

.alert-box {
	background-color: #fffbcc;
	color: rgb(0, 0, 0);
	font-size: 14px;
	line-height: 20px;
	padding: 13px 16px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
}
.alert-box .alert-badge {
	background-color: #f58f2a;
	border-radius: 3px;
	color: #fff;
	margin-right: 4px;
	padding: 3px 5px 3px 4px;
	font-weight:bold;
	text-transform: uppercase;
}

.alert-box .date-badge {
	background-color: #4e68ff;
	border-radius: 10px;
	color: #fff;
	margin-left: 4px;
	margin-right: 4px;
	padding: 3px 5px 3px 4px;
    font-weight: bold;
	text-transform: uppercase;
}

.closebtn {
    margin-left: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    opacity: .5;
}

#myCookieConsent {
    z-index: 999;
    min-height: 20px;
    font-family: OpenSans, arial, "sans-serif";
    padding: 10px 20px;
    background: rgba(0,0,0,0.6);
    overflow: hidden;
    position: fixed;
    color: #FFF;
    bottom: 0px;
    right: 0px;
    display: none;
    left: 0;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
#myCookieConsent div {
    padding: 5px 0 0;
}
#myCookieConsent a {
    color: #ffba55;
    display: inline-block;
    padding: 0 10px;
}
#myCookieConsent a:hover {
	color: #fda016;
}
#myCookieConsent a#cookieButton {
    color: #000000;
    font-size: 1.1em;
	background: #ffba55;
    text-decoration: none;
    cursor: pointer;
    padding: 2px 20px;
    float: right;
    border-radius: 20px;
}
#myCookieConsent a#cookieButton:hover {
    background: #fda016;
	color: #000;
}

