:root {
  scroll-behavior: smooth;
  font-size: 1.5vh;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: rgb(23, 23, 23);
  --bg-secondary: rgb(30, 30, 30);
  --transition-speed: 600ms;
  --lightblue: #AD91FF;
  --gray: #2C2F33;
  --light: #f8f9fa;
  --bg-color: rgb(0, 0, 0);
  }

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(17, 17, 17);
  margin: 0rem;
  overflow-x: hidden;
}

main {
  font-size: 1.7vh;
  margin-left: 5rem;
  padding: 1rem;
  color: white;
}

/* prevents the footer from rising to the top on pages with less content
like tnc-privacy and commands when viewing small categories */
.content {
  min-height: 100vh;
  overflow: hidden;
}

/* Start navbar */

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: hidden;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  /* make blue when hovered */
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

/* Font Awesome https://fontawesome.com */
.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #df49a6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* End navbar */

.button {
  display: inline-block;
  color: white;
  border-radius: 1.2vh;
  font-size: 1.75vh;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.2vh 0.6vh;
  cursor: pointer;
  padding: 1.5vh 4vh;
  text-decoration: none;
}

.blurple {
  background-color: var(--lightblue);
}

.gray {
  background-color: var(--gray);
}

.button:hover {
  opacity: 0.85;
}

/* Start home page */

.homepage-title {
  display: grid;
  text-align: center;
  place-items: center;
  height: 100vh;
}

.homepage-title h1 {
  font-family: 'Space Mono', monospace;
  font-size: clamp(3rem, 10vw, 10rem);
  color: white;
}

.homepage-title h2 {
  font-family: 'Space Mono', monospace;
  font-size: clamp(1rem, 2vw, 2rem);
  color: lightgray;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

.homepage-title h2:hover{
  background-color: rgb(240, 240, 240);
  color: black;
}

.invite-button {
  padding-top: 3rem;
}

.after-title {
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.5rem;
  text-align: center;
}

.introduction {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.introduction h1 {
  font-size: 2.2rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.feature-card {
  position: relative;
  width: 100%;
  height: auto; /* Changed from fixed height to auto */
  margin-bottom: 2rem; /* Added margin to separate cards */
}

.feature-content {
  position: relative; /* Changed from absolute to relative */
  padding: 1.5rem;
  background-color: #282828;
  transition: .5s ease;
  border-radius: 1.5rem;
  height: 100%; /* Ensure content takes full height */
}

.hover-point {
  position: absolute;
  z-index: 2;
  width: calc(100% / 3);
  height: calc(100% / 3);
}
.hover-point:nth-child(1) {
  top: 0;
  left: 0;
}
.hover-point:nth-child(2) {
  top: 0;
  left: calc(100% / 3);
}
.hover-point:nth-child(3) {
  top: 0;
  right: 0;
}
.hover-point:nth-child(4) {
  top: calc(100% / 3);
  left: 0;
}
.hover-point:nth-child(5) {
  top: calc(100% / 3);
  right: 0;
}
.hover-point:nth-child(6) {
  bottom: 0;
  left: 0;
}
.hover-point:nth-child(7) {
  bottom: 0;
  left: calc(100% / 3);
}
.hover-point:nth-child(8) {
  bottom: 0;
  right: 0;
}
.hover-point:nth-child(1):hover ~ .feature-content {
  box-shadow: 15px 15px 50px rgba(255, 255, 255, .1);
  transform-origin: right top;
  transform: perspective(175rem) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);
}
.hover-point:nth-child(2):hover ~ .feature-content {
  box-shadow: 0 15px 50px rgba(255, 255, 255, .1);
  transform-origin: center top;
  transform: perspective(175rem) rotateX(10deg);
}
.hover-point:nth-child(3):hover ~ .feature-content {
  box-shadow: -15px 15px 50px rgba(255, 255, 255, .1);
  transform-origin: left top;
  transform: perspective(175rem) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);
}
.hover-point:nth-child(4):hover ~ .feature-content {
  box-shadow: 15px 5px 50px rgba(255, 255, 255, .1);
  transform-origin: left center;
  transform: perspective(175rem) rotateY(-10deg);
}
.hover-point:nth-child(5):hover ~ .feature-content {
  box-shadow: -15px 5px 50px rgba(255, 255, 255, .1);
  transform-origin: right center;
  transform: perspective(175rem) rotateY(10deg);
}
.hover-point:nth-child(6):hover ~ .feature-content {
  box-shadow: 15px -15px 50px rgba(255, 255, 255, .1);
  transform-origin: right bottom;
  transform: perspective(175rem) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg);
}
.hover-point:nth-child(7):hover ~ .feature-content {
  box-shadow: 0 -15px 50px rgba(255, 255, 255, .1);
  transform-origin: center bottom;
  transform: perspective(175rem) rotateX(-10deg);
}
.hover-point:nth-child(8):hover ~ .feature-content {
  box-shadow: -15px -15px 50px rgba(255, 255, 255, .1);
  transform-origin: left bottom;
  transform: perspective(175rem) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);
}

.feature-card h1 {
  color: white;
}

.feature-card {
  color: var(--text-secondary);
}

.feature-card svg {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1rem;
}

.feature-card svg path {
  fill: var(--text-secondary);
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%; 
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  filter: blur(14vmax);
  opacity: 0.8;
  z-index: -1;
  overflow: hidden !important;
}


/* End home page */

/* Start media queries */

/* Command container adjustments for smaller laptops and regular ipads*/
@media only screen and (max-width: 1200px) {
  .cmdcontainerbuttons {
    grid-template-columns: 1fr 1fr 1fr !important;
    row-gap: 1rem;
  }

}

/* Flexbox and command container adjustments on smaller screens to prevent horizontal scroll */
@media only screen and (max-width: 965px) {

  .cmdcontainerbuttons {
    grid-template-columns: 1fr !important;
    row-gap: 0.5rem;
  }

  .footer .row,
  .footer .couple {
    grid-template-columns: 1fr !important;
    justify-items: normal !important;
    gap: 0 !important;
  }

  .features {
    grid-template-columns: 1fr;
    margin-left: 0;
  }

  .feature-card{
    margin-bottom: 5rem;
  }

  .feature-content{
    background-color: black !important;
    height: 100%;
    width: 100%
  }

  .hover-point {
    display: none;
  }

}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100%;
    height: 5rem;
  }

  .nav-item:last-child {
    display: none;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
    margin-bottom: 5rem;
  }

  /* Reduce text area for forms */
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .homebody {
    margin: 0 !important;
    font-size: 2rem;
  }

}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

/* End media queries */

/* Start footer */

.footer {
  color:#f0f9ff;
  background-color:  #1e1e1e;
  margin-top: 1rem;
}

.footer ul {
  padding:0;
  list-style:none;
  line-height:1.6rem;
}

.footer ul a {
  color: lightgrey;
  text-decoration:none;
}

.footer ul a:hover {
  opacity:0.8;
}

.footer .couple {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: stretch;
  gap: 2rem
}

.footer .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  justify-items: center;
}

/* End footer */

.hidden{
  display: none !important;
}

/* Start commands page */

.textbutton {
  display: inline-block;
  color: white;
  font-size: 1.75vh;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1vh 1vh;
  text-decoration: none;
}

.cmdcontainerbuttons {
  background-color: var(--bg-secondary);
  column-gap: 2vh;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  padding: 1rem;
}

.cmdcategory {
  display: grid;
  row-gap: 1rem;
}

.cmdcategoryitem {
  cursor: pointer;
  background-color: var(--bg-secondary);
  font-size: 1.2rem;
  border: 0 solid;
  border-color: #231d36;
  border-radius: 1rem;
  border-width: .01rem;
  padding: 1rem 1rem
  }

.cmdcategoryitem:hover {
  border-color: yellow !important;
  }

.is-active {
  color: rgb(125, 255, 38) !important;
}

.has-text-primary {
  color:lightgreen;
}

.has-text-gray {
  color: rgb(170, 163, 163);
  display: none;
}

/* End commands page */

/* Start blogs page */

.blogsgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  margin-top: 3vh;
  row-gap: 2vh;
  column-gap: 1vh;
}

.blogcontainer {
  text-decoration: none;
  background-color: var(--bg-secondary);
  border-color: var(--bg-secondary) !important;
  color: #fff;
  padding: 1.5rem;
  max-width: 30rem;
  text-align: left !important;
  line-height: 3rem;
  overflow-wrap: break-word;
  border: 0 solid;
  font-family: Inter,sans-serif;
  border-radius: .5rem;
  border-width: .063rem;
}

.blogcontainer:hover {
  text-decoration: none;
  border-color: yellow !important;
}

.blogtitle {
  font-size: 1.4rem;
  font-weight: bold;
}

.blogdate {
  color:lightgray;
  font-size: 1.1rem;
}

.blogsubtitle {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.blogbody {
  font-size: large;
  padding-right: 10vh;
}

.blogbody h2{
  color: lightblue
}

.separator {
  margin: auto;   
  border-bottom: 0.1rem solid rgba(255,255,255,.25);
}

cmd {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

#submitted {
  background-color: darkgoldenrod;
}

.big-title{
  text-align: center;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: bold;
  font-size: 3rem;
  max-width: 100%;
  letter-spacing: 0.1rem;
  color: rgb(242, 244, 251);
  text-transform: none;
  width: auto;
}

.gray-subtitle{
  font-weight: 400;
  line-height: 1.5rem;
  font-family: 'Maison Neue', sans-serif !important;
  box-sizing: inherit;
  padding: 0 !important;
  font-size: 1.35rem !important;
  color: #606a7b !important;
  text-align: center;
  max-width: 60%;
  margin: 1em auto 1.5em;
}

img {
  max-width: 100%;
  height: auto;
}

/* End blogs page */

/* Start cookies */

.alert-box {
	background-color: #fffbcc;
	color: rgb(0, 0, 0);
	font-size: 14px;
	line-height: 20px;
	padding: 13px 16px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
}
.alert-box .alert-badge {
	background-color: #f58f2a;
	border-radius: 3px;
	color: #fff;
	margin-right: 4px;
	padding: 3px 5px 3px 4px;
	font-weight:bold;
	text-transform: uppercase;
}

.alert-box .date-badge {
	background-color: #4e68ff;
	border-radius: 10px;
	color: #fff;
	margin-left: 4px;
	margin-right: 4px;
	padding: 3px 5px 3px 4px;
    font-weight: bold;
	text-transform: uppercase;
}

.closebtn {
    margin-left: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    opacity: .5;
}

#myCookieConsent {
    z-index: 999;
    min-height: 1vh;
    font-family: OpenSans, arial, "sans-serif";
    padding: 1vh 2vh;
    background: rgba(0,0,0,0.6);
    overflow: hidden;
    position: fixed;
    color: #FFF;
    bottom: 0;
    right: 0;
    display: none;
    left: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
#myCookieConsent div {
    padding: 0.5rem 0 0;
}
#myCookieConsent a {
    color: #ffba55;
    display: inline-block;
    padding: 0 1rem;
}
#myCookieConsent a:hover {
	color: #fda016;
}
#myCookieConsent a#cookieButton {
    color: #000000;
    font-size: 1.1em;
	background: #ffba55;
    text-decoration: none;
    cursor: pointer;
    padding: 0.2rem 1.2rem;
    float: right;
    border-radius: 20px;
}
#myCookieConsent a#cookieButton:hover {
    background: #fda016;
	color: #000;
}

/* End cookies */

/* Start forms - https://www.w3schools.com/howto/howto_css_responsive_form.asp */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #2a2121;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* End forms */