:root {
  scroll-behavior: smooth;
  font-size: 1.5vh;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --main-bg: #1D1E28;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --lightblue: #AD91FF;
  --gray: #2C2F33;
  --light: #f8f9fa;
  --bg-color: rgb(0, 0, 0);
  --typewriterSpeed: 3.5s;
  --typewriterCharacters: 35;
  }

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg);
}

/* Start typewriter */

.hoverable {
  background-color: transparent;
	transition: .4s ease-out;
  text-decoration: none;
  color: white
}

.hoverable:hover {
  color: rgb(72, 255, 0);
}

.typewriter {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  max-width: 100%;
}

.typewriter h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: "Source Code Pro", monospace;
  width: fit-content;
}

.typewriter h1::before,
.typewriter h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.typewriter h1::before {
  background-color: #1D1E28;
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

.typewriter h1::after {
  width: 0.125em;
  background: rgb(255, 255, 255);
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* End typewriter */

main {
  font-size: 1.7vh;
  margin-left: 5rem;
  padding: 1rem;
  color: white;
}

.content {
  min-height: 100vh;
  overflow: hidden;
}

/* Start navbar */

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: hidden;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #df49a6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* End navbar */

/* Command container adjustments for smaller laptops and regular ipads*/
@media only screen and (max-width: 1200px) {
  .cmdcontainerbuttons {
    grid-template-columns: 1fr 1fr 1fr !important;
    row-gap: 1rem;
  }

}

/* Typewriter adjustments to prevent double lines */
@media only screen and (max-width: 1022px) {
  .typewriter h1::before,
  .typewriter h1::after {
    position: static !important;
  }
}

/* Flexbox and command container adjustments on smaller screens to prevent horizontal scroll */
@media only screen and (max-width: 965px) {

  .cmdcontainerbuttons {
    grid-template-columns: 1fr !important;
    row-gap: 0.5rem;
  }

  .footer .row,
  .footer .couple {
    grid-template-columns: 1fr !important;
    justify-items: normal !important;
    gap: 0 !important;
  }
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
    margin-bottom: 5rem;
  }

  /* Reduce text area for forms */
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .homebody {
    margin: 0 !important;
    font-size: 2rem;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

#themeButton {
  cursor: pointer;
}

.button {
  display: inline-block;
  color: white;
  border-radius: 1.2vh;
  font-size: 1.75vh;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.2vh 0.6vh;
  cursor: pointer;
  padding: 1.5vh 4vh;
  text-decoration: none;
}

.blurple {
  background-color: var(--lightblue);
}

.gray {
  background-color: var(--gray);
}

.button:hover {
  opacity: 0.85;
}

.homebody {
  margin-left: 10.5rem;
  margin-right: 10.5rem;
  font-size: 1.5rem;
}

.introduction {
  text-align: center;
  margin-bottom: 2rem;
}

.introduction h1 {
  font-size: 2.2rem;
  line-height: 5vh;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature h1 {
  color: #b6b6b6;
}

.features .feature img {
  margin-bottom: 1rem;
  object-fit: contain;
}

.features .feature p {
  color: var(--text-secondary);
}

/* Start footer */

.footer {
  color:#f0f9ff;
  background-color:#282d32;
  margin-top: 1rem;
}

.footer ul {
  padding:0;
  list-style:none;
  line-height:1.6rem;
}

.footer ul a {
  color: lightgrey;
  text-decoration:none;
}

.footer ul a:hover {
  opacity:0.8;
}

.footer .couple {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-items: center;
}

.footer .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  align-items: center;
  justify-items: center;
}

/* End footer */

.hidden{
  display: none !important;
}

/* Start commands page */

.textbutton {
  display: inline-block;
  color: white;
  font-size: 1.75vh;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1vh 1vh;
  text-decoration: none;
}

.cmdcontainerbuttons {
  background-color: #231d36;
  column-gap: 2vh;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  padding: 1rem;
}

.cmdcategory {
  display: grid;
  row-gap: 1rem;
}

.cmdcategoryitem {
  cursor: pointer;
  background-color: #231d36;
  font-size: 1.2rem;
  border: 0 solid;
  border-color: #231d36;
  border-radius: 1rem;
  border-width: .01rem;
  padding: 1rem 1rem
  }

.cmdcategoryitem:hover {
  border-color: yellow !important;
  }

.is-active {
  color: rgb(125, 255, 38) !important;
}

.has-text-primary {
  color:lightgreen;
}

.has-text-gray {
  color: rgb(170, 163, 163);
  display: none;
}

/* End commands page */

/* Start blogs page */

.blogsgrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3vh;
  row-gap: 2vh;
  column-gap: 1vh;
}

.blogcontainer {
  text-decoration: none;
  background-color: rgb(30, 46, 46);
  border-color:rgb(30, 46, 46) !important;
  color: #fff;
  padding: 1.5rem;
  max-width: 30rem;
  text-align: left !important;
  line-height: 3rem;
  overflow-wrap: break-word;
  border: 0 solid;
  font-family: Inter,sans-serif;
  border-radius: .5rem;
  border-width: .063rem;
}

.blogcontainer:hover {
  text-decoration: none;
  border-color: yellow !important;
}

.blogtitle {
  font-size: 1.4rem;
  font-weight: bold;
}

.blogdate {
  color:lightgray;
  font-size: 1.1rem;
}

.blogsubtitle {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.blogbody {
  font-size: large;
  padding-right: 10vh;
}

.blogbody h2{color: lightblue}

.separator {
  margin: auto;   
  border-bottom: 0.1rem solid rgba(255,255,255,.25);
}

cmd {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}


#submitted {
  background-color: darkgoldenrod;
}

.big-title{
  text-align: center;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: bold;
  font-size: 3rem;
  max-width: 100%;
  letter-spacing: 0.1rem;
  color: rgb(242, 244, 251);
  text-transform: none;
  width: auto;
}

.gray-subtitle{
  font-weight: 400;
  line-height: 1.5rem;
  font-family: 'Maison Neue', sans-serif !important;
  box-sizing: inherit;
  padding: 0 !important;
  font-size: 1.35rem !important;
  color: #606a7b !important;
  text-align: center;
  max-width: 60%;
  margin: 1em auto 1.5em;
}

img {
  max-width: 100%;
  height: auto;
}

/* End blogs page */

/* Start cookies */

.alert-box {
	background-color: #fffbcc;
	color: rgb(0, 0, 0);
	font-size: 14px;
	line-height: 20px;
	padding: 13px 16px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
}
.alert-box .alert-badge {
	background-color: #f58f2a;
	border-radius: 3px;
	color: #fff;
	margin-right: 4px;
	padding: 3px 5px 3px 4px;
	font-weight:bold;
	text-transform: uppercase;
}

.alert-box .date-badge {
	background-color: #4e68ff;
	border-radius: 10px;
	color: #fff;
	margin-left: 4px;
	margin-right: 4px;
	padding: 3px 5px 3px 4px;
    font-weight: bold;
	text-transform: uppercase;
}

.closebtn {
    margin-left: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    opacity: .5;
}

#myCookieConsent {
    z-index: 999;
    min-height: 1vh;
    font-family: OpenSans, arial, "sans-serif";
    padding: 1vh 2vh;
    background: rgba(0,0,0,0.6);
    overflow: hidden;
    position: fixed;
    color: #FFF;
    bottom: 0;
    right: 0;
    display: none;
    left: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
#myCookieConsent div {
    padding: 0.5rem 0 0;
}
#myCookieConsent a {
    color: #ffba55;
    display: inline-block;
    padding: 0 1rem;
}
#myCookieConsent a:hover {
	color: #fda016;
}
#myCookieConsent a#cookieButton {
    color: #000000;
    font-size: 1.1em;
	background: #ffba55;
    text-decoration: none;
    cursor: pointer;
    padding: 0.2rem 1.2rem;
    float: right;
    border-radius: 20px;
}
#myCookieConsent a#cookieButton:hover {
    background: #fda016;
	color: #000;
}

/* End cookies */

/* Start forms - https://www.w3schools.com/howto/howto_css_responsive_form.asp */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #2a2121;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* End forms */